<h1 align="center">Listing all Wagons</h1>
<hr />

<% @wagons.each do |wagon| %>
  <div class="row">
    <div class="col-md-2">
      <section class="center">
        
      </section>
    </div>
    <div class="col-md-8 well">
        <h4><%= wagon.name %></h4>
        <p><%= truncate(wagon.description, length: 150) %></p>
        <p>
          <span class="quiet"><small>Created <%= time_ago_in_words(wagon.created_at) %> ago</small></span>
        </p>
    </div>
  </div>


<% end %>