<%= render 'shared/page_title', title: "showing all floats" %>

<div align="center">
  <%= will_paginate %>
</div>
<%= render 'wagon', obj: @wagons %>
<div align="center">
  <%= will_paginate %>
</div>