$navbar-default-bg: #e67e22;


@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5 )), asset-url('cover_jumbotron.jpg');
  background-size: cover;
  height: 400px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron h1, h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  background-color: #858f5b;
  border: none;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}


footer {
    color: #fff;
    text-align: center;
    background-color: #e67e22;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right:  0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.description {
  margin-top: 0;
}

.well a {
 color: #e67e22; 
}

.corsogroup_info {
  margin-top: 10px;
}

.colormatch a {
 color: #858f5b; 
}

.wagon-actions {
  padding-top: 5px;
  a {
    color: #fff;
  }
}

