<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav">
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Press</a></li>
            </ul>
        </div>

    </div>
    <div class="row">
        <p>
            Copyright &copy; 2017 by Hebbiedat. All rights reserverd.
        </p>
    </div>
            
</footer>